<!DOCTYPE html>
<html lang="en">
<head>
    <link
                  href="https://cdn.jsdelivr.net/npm/maplibre-gl@4.7.1/dist/maplibre-gl.min.css"
                  rel="stylesheet"
            />
            <style>
                  body {
                        margin: 0;
                  }
                  #map {
                        height: 100vh;
                  }
                  .layer-control {
                        position: absolute;
                        background: #fff;
                        padding: 10px;
                        right: 10px;
                        top: 10px;
                        z-index: 10;
                  }
    </style>

</head>
<body>
    <div id="map" />

    
            <!-- Layer control -->
            <div class="layer-control">
                  <input
                        class="layer"
                        type="radio"
                        name="map-style"
                        value="Standard:Light"
                        checked="checked"
                  />
                  <label for="map-style-standard-light">StandardLight</label>
                  <div />
                  <input
                        class="layer"
                        type="radio"
                        name="map-style"
                        value="Standard:Dark"
                  />
                  <label for="map-style-standard-dark">StandardDark</label>
                  <div />
                  <input
                        class="layer"
                        type="radio"
                        name="map-style"
                        value="Monochrome:Light"
                  />
                  <label for="map-style-monochrome-light"
                        >MonochromeLight</label
                  >
                  <div />
                  <input
                        class="layer"
                        type="radio"
                        name="map-style"
                        value="Monochrome:Dark"
                  />
                  <label for="map-style-monochrome-dark">MonochromeDark</label>
                  <div />
                  <input
                        class="layer"
                        type="radio"
                        name="map-style"
                        value="Hybrid"
                  />
                  <label for="map-style-hybrid">Hybrid</label>
                  <div />
                  <input
                        class="layer"
                        type="radio"
                        name="map-style"
                        value="Satellite"
                  />
                  <label for="map-style-satellite">Satellite</label>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/maplibre-gl@4.7.1/dist/maplibre-gl.min.js"></script>


    <script>
        
        /** 
         * Step 1: Setup API Key and AWS Region
        */        
        async function initializeMap() {
            const apiKey = "v1.public.eyJqdGkiOiI3NzhjODBiZS01OGVlLTQzZDQtYjJlOC1jZWNjOTJkNTI3YTQifUKuSyxdMDBCxkGqmkII1c_7L6T-ewrXS-ALCQbowQsl7HUrkOXY0Rx7KsAHjDqQRASGMNVG6plCk7AjYrZ32S5tZcCRH4Sc7TakT3cIyipnYwA1YbZ0aKTyEnHNfl5uNfzrvw4INKiDNNUJDytyf96qVPCIjNm8Ty1HIJoOtDC37yzp_dacYubxML8pugr35e3RVOGG06W2fEV9j-WvK_QfSyH6MxRltHw5cvfF4ohWJ9sUmO0-U8RPNC3xH2jB2kceMk7vnlEuoz6mBdwzVbDW0q2lPPYXuDEoYqBJfALBslmiIIQrJQVWIiiy4ZCgUJxeeeS28NGXGZvxGLd3cRI.ZWU0ZWIzMTktMWRhNi00Mzg0LTllMzYtNzlmMDU3MjRmYTkx";
            const region = "us-east-1";

            // Initialize the map
            const map = new maplibregl.Map({
                  container: "map",
                  // Initial map centerpoint
                  center: [-119.5, 36.5],
                  // Initial zoom level
                  zoom: 10,
                  style: `https://maps.geo.${region}.amazonaws.com/v2/styles/Standard/descriptor?key=${apiKey}&color-scheme=Light`,
                  validateStyle: false, // Disable style validation for faster map load
            });

            map.addControl(new maplibregl.NavigationControl());

    const locations = JSON.parse(document.getElementById('locations_json').textContent);

    locations.forEach(function(location) {
        const marker = new maplibregl.Marker()
            .setLngLat([location.longitude, location.latitude])
            .addTo(map);

        const popup = new maplibregl.Popup({
            offset: 25
        })
        .setHTML(
            `<strong></strong><br>
            <a href="${location.url}" target="_blank">Water Rights Info</a><br>
            ApplicationID: ${location.pod} <br>
            Owner: ${location.owner} <br>
            Lat: ${location.latitude}, Lon: ${location.longitude} , <br>
            Max Flow rate: ${location.podRate} ${location.units} <br>
            Face Value: ${location.faceValueAF} AcreFeet <br>
            Storage: ${location.podStorage} AcreFeet`
        );

        marker.setPopup(popup);


        }
        initializeMap();
        

    </script>
</body>
</html>